# デフォルトの無視対象ファイル
/shelf/
/workspace.xml
# Rider の無視対象ファイル
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.puddle-clicker.iml
# 無視されたデフォルトフォルダー (クエリファイルを含む)
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# エディターベースの HTTP クライアントリクエスト
/httpRequests/
